<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{#% load i18n %#}
{#% load localeurl_tags %#}
{#% load stages_extras %#}
{#% get_current_language as LANGUAGE_CODE %#}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{% block title %}ISannounces{% endblock %}</title>
    <link href="{{ media_url }}css/bundle_common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ media_url }}css/bundle_github.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="#" rel="alternate" title="New calls feed" type="application/atom+xml" />
    <meta name="description" content="Sharing conferences, journals and positions announces in MIS." />
  </head>
  <body class="logged_out ">
    <div class="subnavd" id="main">
      <div id="header" class="true">
          <a class="logo boring" href="{% url isannounces.views.index %}">
            <img src="{{ media_url }}logos/isannounces.png" class="default" alt="ISannounces" />
            <![if !IE]>
            <img src="{{ media_url }}logos/isannounces-hover.png" class="hover" alt="ISannounces" />
            <![endif]>
          </a>
          <div class="topsearch">
            <ul class="nav logged_out">
              <li><a href="{% url isannounces.views.index %}">Home</a></li>
              <li><a href="#">Menu 1</a></li>
              <li><a href="#">Menu 2</a></li>
              <li><a href="#">Menu 3</a></li>
              <li><a href="#">Menu 4</a></li>
              <li><a href="{% url admin:index %}">Admin</a></li>
            </ul>
          </div>
      </div>
      <div class="site">{% block site %}
        <div class="pagehead repohead vis-public">
            <div class="title-actions-bar">
                <h1>
                    <a href="/alexvasi">alexvasi</a> / <strong><a href="http://github.com/alexvasi/django-simplemenu">django-simplemenu</a></strong>
                </h1>
                <ul class="actions">
                    <li>
                    </li>
                </ul>
            </div>
            <ul class="tabs">
                <li><a href="http://github.com/alexvasi/django-simplemenu/tree/master" class="selected" highlight="repo_source">Source</a></li>
                <li><a href="http://github.com/alexvasi/django-simplemenu/commits/master" highlight="repo_commits">Commits</a></li>
                <li><a href="/alexvasi/django-simplemenu/network" highlight="repo_network">Network (1)</a></li>
                <li><a href="/alexvasi/django-simplemenu/issues" highlight="issues">Issues (0)</a></li>
                <li><a href="/alexvasi/django-simplemenu/graphs" highlight="repo_graphs">Graphs</a></li>
                <li class="contextswitch nochoices">
                    <span class="toggle leftwards" ><em>Branch:</em><code>master</code></span>
                </li>
            </ul>
            <div class="subnav-bar">
                <ul>
                    <li>
                        <a href="#" class="dropdown">Switch Branches (1)</a>
                        <ul>
                            <li><strong>master &#x2713;</strong></li>
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown defunct">Switch Tags (0)</a></li>
                    <li><a href="/alexvasi/django-simplemenu/branches" class="manage">Branch List</a></li>
                </ul>
            </div>
            <div id="repo_details" class="metabox clearfix">
                <div id="repository_desc_wrapper">
                    <div id="repository_description" rel="repository_description_edit">
                        <p>Menu app for Django with ordering and ability to link menu item with model instance, view or URL.
                            <span id="read_more" style="display:none">&mdash; <a href="#readme">Read more</a></span>
                        </p>
                    </div>
                </div>
                <div class="rule "></div>
                <div id="url_box" class="url-box">
                    <ul class="clone-urls">
                        <li id="http_clone_url"><a href="http://github.com/alexvasi/django-simplemenu.git" data-permissions="Read-Only">HTTP</a></li>
                        <li id="public_clone_url"><a href="git://github.com/alexvasi/django-simplemenu.git" data-permissions="Read-Only">Git Read-Only</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="commit">
            <div class="group">
                <div class="envelope commit">
                    <div class="human">
                        <div class="message"><p>Message</p></div>
                    </div>
                    <div class="machine">
                        <span>comment</span><br />
                        <span>tree</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="path">
            <b><a href="#">path</a></b>
        </div>
        <div id="browser">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th></th>
                    <th>col1</th>
                    <th>col2</th>
                    <th>col3</th>
                </tr>
                <tr class="alt">
                    <td class="icon"><img alt="file" src="{{ media_url }}icons/txt.png" /></td>
                    <td class="content"><a href="#">content1</a></td>
                    <td class="age">date1</td>
                    <td class="message">message1</td>
                </tr>
                <tr class="">
                    <td class="icon"><img alt="file" src="{{ media_url }}icons/txt.png" /></td>
                    <td class="content"><a href="#">content2</a></td>
                    <td class="age">date2</td>
                    <td class="message">message2</td>
                </tr>
            </table>
        </div>
        <div id="readme" class="announce rst">
            <span class="name">README.rst</span>
            <div class="wikistyle">
                <div>
                    <div>
                        <h1>header1</h1>
                        <p>paragraph1</p>
                    </div>
                    <div>
                        <h1>header2</h1>
                        <p>paragraph2</p>
                    </div>
                </div>
            </div>
        </div>
      {% endblock site %}</div>
    </div>
    <div id="footer" class="clearfix">
      <div class="site">
        <div class="sponsor">
          <a href="#" class="logo">
            <img alt="Great sponsor" src="{{ media_url }}cfp/images/GPLv3.png" />
          </a>
          Proudly supported by myself, some others<br />
          and the community! Great! isn't it?
        </div>
        <ul class="links">
          <li class="blog"><a href="#">bold</a></li>
          <li><a href="#">link2</a></li>
          <li><a href="#">link3</a></li>
          <li><a href="#">link4</a></li>
          <li><a href="#">link5</a></li>
        </ul>
        <ul class="sosueme">
          <li class="main">&copy; 2010 <span id="_rrt" title="some hidden calculation value">ISannounces</span> Org. All rights reserved.</li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div>
    </div>
    <div class="locales">
        <div class="site">
            <ul class="choices clearfix limited-locales">
                <li><span class="current">English</span></li>
                <li><a rel="nofollow" href="#">Deutsch</a></li>
                <li><a rel="nofollow" href="#">Français</a></li>
                <li class="all"><a href="#" class="minibutton btn-forward js-all-locales"><span><span class="icon"></span>See all available languages</span></a></li>
            </ul>
        </div>
        <div class="fade"></div>
    </div>
  </body>
</html>